.body {
  background-color:  whitesmoke;
  margin:  0;
}

.body h2 {
  color: dark;
  margin:  auto;
  width: 500px;
  font-size: 40px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  margin-bottom: 20px;
}

.flex-section{
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin:  auto;
}

.small-box{
  text-align: center;
  width: 150px;
  padding: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.small-box img {
  height:  100px;
}

.small-box h3 {

}

.small-box p{

}
