.footer {
  background-color: #2c2b2b;
  text-align:  center;
  color:  white;
  margin: 0;
}

.icones {
  justify-content: space-around;
  margin: 0;
  padding:  60px 0px 10px 0px;
}

.icones ul {
  list-style: none;
  margin:  0;
}

.icones li {
  display: inline;
  padding:  10px;
}

.icones a {
  color:  #1EDD88;
  font-size:  30px;
}

.footer p {
  margin: 0;
  padding: 10px 0px 60px 0px;
  color: ghostwhite;
}

.icones a:hover {
  color:  pink;
  font-size:  300px;
}

.footer p i {
  color: red;
}

.footer p i:hover {
  color: green;
  font-size:  40px;
}
