.intro {
  color: whitesmoke;
  margin:  0;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.text {
  width: 900px;
  margin: auto;
}

.text h1 {
  font-size:  35px;
  margin: 0;
  text-shadow: 2px 2px 0px #1E9EE6, 4px 4px 0px rgba(0,0,0,0.25);
}

.text p {
  font-size:  20px;
  text-shadow: 2px 2px 0px #1E9EE6, 4px 4px 0px rgba(0,0,0,0.25);
}

.text a {
  background-color: #1EDD88;
  border-radius: 50px;
  padding: 12px;
  color: white;
  font-size:  20px;
  margin-top: 10px;
}
